# ignore pycache files
__pycache__/*

# ignore data files
data/*
temp/*
source/__pycache__/*

# ignore virtualenv file
venv/*

# ignore trained model file
model/*

# accept well trained one for exception
#!model/name

# ignore log file
logs/*

# ignore temp file
temp/*


