# ignore pycache files
__pycache__/*

# ignore data files
data/*

# ignore virtualenv file
venv/*

# ignore trained model file
model/*

# ignore paper pdf files
paper/*

# accept well trained one for exception
#!model/name

# ignore log file
logs/*

# ignore temp file
temp/*


